.title{
    font-family: Palatino, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:60px;
    font-weight:100;
    /* letter-spacing:4px; */
    line-height:64px;
    margin-top:0;
    margin-bottom:0;
}

.subtitle{
    font-family: Palatino, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:48px;
    font-weight:100;
    line-height:52px;
    margin-top:0;
    margin-bottom:0;
}

.sectitle{
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:24px;
    font-weight:800;
    line-height:28px;
    margin-top:10px;
    margin-bottom:10px;
}

.author{
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:24px;
    font-weight:400;
    line-height:22px;
    margin-top:5px;
    margin-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    text-align:justify;
}

.text{
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight:400;
    line-height:22px;
    margin-top:5px;
    margin-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    text-align:justify;
}

.container{
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    max-width:1200px;
}

.container:before,.container:after{
    content:"";
    display:table;
    grid-column-start:1;
    grid-row-start:1;
    grid-column-end:2;
    grid-row-end:2
}

.grey_container{
    background-color:#f2f2f2
}

.widget_container {
	display: flex;
    margin-bottom:15px;
    padding-left:25px;
    padding-right:25px;
}

.video_container {
	margin: 0.4em;
    width: 100%;
}

.citation {
    background-color:#e6e6e6;
    font-family:"Lucida Console", monospace, sans-serif;
    font-size:14px;
    padding-top:25px;
    padding-bottom:25px;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0.5em 0.75em;
    margin: 0.4em 0.4em;
    min-width: 20ch;
    background-color: #ddd;
    color: #333;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
}

button.on {
	background-color: #333;
	color: #bbb;
}

video {
	display: none;
	width: 100%;
}

video.on {
	display: block;
}

a:link,a:visited {
    color: #1367a7;
    text-decoration: none;
}

a:hover {
    color: #208799;
}

.layered-paper-big { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
            5px 5px 0 0px #fff, /* The second layer */
            5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
            10px 10px 0 0px #fff, /* The third layer */
            10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
            15px 15px 0 0px #fff, /* The fourth layer */
            15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
            20px 20px 0 0px #fff, /* The fifth layer */
            20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
            25px 25px 0 0px #fff, /* The fifth layer */
            25px 25px 1px 1px rgba(0,0,0,0.35); /* The fifth layer shadow */
    margin-left: 10px;
    margin-right: 45px;
}

.layered-paper { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
            5px 5px 0 0px #fff, /* The second layer */
            5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
            10px 10px 0 0px #fff, /* The third layer */
            10px 10px 1px 1px rgba(0,0,0,0.35); /* The third layer shadow */
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 5px;
}
